/.build
CMakeUserPresets.json
CMake/.build
docs/*.bak
docs/.build
docs/custom/.build
docs/generated/.build
docs/generated/chm
docs/generated/chm-warnings.log
docs/generated/html
docs/generated/html-warnings.log
docs/generated/latex
docs/generated/latex-warnings.log
docs/praxlib
examples/.build
examples/data/.build
examples/recipes/.build
examples/triangulation/.build
gtl/.build
gtl/analysis/.build
gtl/common/.build
gtl/curve/.build
gtl/curve/detail/.build
gtl/detail/.build
gtl/io/.build
gtl/io/obj/.build
gtl/numerics/.build
gtl/primitives/.build
gtl/primitives/intersection/.build
gtl/solvers/.build
gtl/surface/.build
gtl/surface/detail/.build
gtl/symbolic/.build
gtl/symbolic/detail/.build
gtl/triangulation/.build
gtl/triangulation/detail/.build
src/.build
src/io/.build
src/numerics/.build
src/solvers/.build
tests/.build
tests/analysis/.build
tests/common/.build
tests/curve/.build
tests/io/.build
tests/main/.build
tests/numerics/.build
tests/primitives/.build
tests/sandbox/.build
tests/solvers/.build
tests/surface/.build
tests/symbolic/.build
tests/triangulation/.build
tools/.build
tools/denoise_uvd/.build
tools/grid_spacing3d/.build
tools/gtlmesher/.build
tools/random_mindist/.build
tools/randomize_pointset/.build
